[mysqld]
user=mysql
# 创建新表时将使用默认存储引擎
default-storage-engine = INNODB
# 服务器使用的默认字符集
character-set-server = utf8
# 默认使用"mysql_naeive_password"插件认证
default-authentication-plugin = mysql_native_password 
# null表示限制mysqld不允许导入|导出
secure-file-priv = NULL
# # 禁用 mysql 对连接的客户端进行 DNS 反向解析
# skip-name-resolve
lower_case_table_names = 1

# 端口号与docker-compose里映射端口保持一致
port        = 3306

basedir     = /usr                          # 设置mysql的安装目录
tmpdir      = /tmp                          # 临时文件
pid-file    = /var/run/mysqld/mysqld.pid    # pid文件记录当前mysqld进程的pid
socket      = /var/run/mysqld/mysqld.sock   # mysql以socket方式运行sock文件位置

[client]
port        = 3306              # 设置3306端口
default-character-set = utf8    # 设置mysql客户端默认字符集

[mysql]
no-auto-rehash                  # 不自动补全
default-character-set = utf8    # 设置数据库的默认字符集